* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Light-pink: hsl(275, 100%, 97%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --purple: hsl(292, 73%, 35%);
}

body {
  background-image: url(assets/images/background-pattern-desktop.svg);
  background-color: var(--Light-pink);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Work Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 38rem;
}

.content {
  background-color: white;
  margin: 1rem;
  border-radius: 0.6rem;
  padding: 1.5rem;
}

.title {
  font-size: 3rem;
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
}
.topic {
  margin: 1rem 0;
  padding-bottom: 1rem;
  border-bottom: solid 1px hsl(292, 16%, 49%, 0.1);
}

.topic :hover {
  color: var(--purple);
  cursor: pointer;
}

.topic:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin: 0;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border: none;
  background: transparent;
  width: 100%;
  font-size: 1.125rem;
  font-weight: 600;
}

.question:after {
  content: url(assets/images/icon-plus.svg);
}

.active:after {
  content: url(assets/images/icon-minus.svg);
}

.answer {
  color: var(--Grayish-purple);
  padding: 1rem 0;
  display: none;
  overflow: hidden;
}

.answer:hover {
  cursor: default;
}

